@media screen and (max-width: 1400px) {
    .hero {
        height: 83vh;
    }
    .about-containers {
        flex-wrap: wrap;
    }
    #contact {
        height: fit-content;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    .hero {
        height: 83vh;
    }
    section {
        margin: 0 5%;
        height: fit-content;
    }
}

@media screen and (max-width: 600px) {
    .hero h1 {
        font-size: 3rem;
    }
    .hero p {
        font-size: 1.2rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .chatbot-container {
        width: 300px;
    }
    .contact-info-upper-container {
        flex-wrap: wrap;
    }
    .section-particles {
        opacity: 0.3; /* Reduce opacity on mobile for better readability */
    }
}